<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Juros</title>
</head>
<body>
    <form action="calcular_juros" method="post">
        <label>
            Valor da Prestação: <input type="number" name="prestacao" step="any">
        </label> <br>
        <label>
            Dias em atraso: <input type="number" name="dia_atraso" step="any">
        </label> <br>
        <input type="submit" value="Calcular media">
    </form>
</body>
</html>