<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar</title>
</head>
<body>
    <h2>Atualizar</h2>
    <form method="post">
        Nome: <input type="text" name="nome" value="{{ user.nome }}" />
        <br />
        E-mail: <input type="email" name="email" value="{{ user.email }}" />
        <br />
        <button type="submit">Atualizar</button>
    </form>
    <a href="/logout">Sair</a>
    
</body>
</html>