<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar</title>
    <style>
      body {font-family: Arial, Helvetica, sans-serif; text-align: center;}
      input,button {margin: 5px; padding: 10px;}  
    </style>
</head>
<body>
    <h1>Recuperar Senha</h1>
    <form method="post">
        <input type="email" name="email" placeholder="E-mail" required><br>
        <button type="submit">Enviar link</button>
    </form>
    <br>
    <a href="/login">Voltar para login</a>
</body>
</html>