<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Média escolar</title>
</head>
<body>
    <h2>Dados do aluno</h2>
    <p>Nome do aluno: {{ nome }}</p> <br>
    <p>Turma: {{ turma }}</p> <br>
    {% for nota in notas %}
        <p>Nota {{loop.index}}: {{ nota }}</p> <br>
    {% endfor %}
    <p>Média final: {{ "%.2f"|format(media) }}</p> <br>
    <p>Situação curricular: {{ situacao }}</p>
</body>
</html>