<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
    <style>
        body {font-family: Arial, Helvetica, sans-serif; text-align: center;}
        input,button {margin: 5px; padding: 10px;}
    </style>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h2>Editar Usuário</h2>
    <form method="post">
        <input type="text" name="nome" value="{{ user.name}}" required><br>
        <input type="email" name="email" value="{{ user.email}}" required><br>
        <button type="submit">Salvar</button>
    </form>
    {% endblock %}
</body>
</html>