<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <style>
        body {font-family: Arial, Helvetica, sans-serif; text-align: center;}
        input,button {margin: 5px; padding: 10px;}
    </style>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h2>Cadastro</h2>
    <form method="post">
        <input type="text" name="nome" placeholder="Seu Nome" required><br>
        <input type="email" name="email" placeholder="teste@gmail.com" required><br>
        <input type="password" name="senha" placeholder="Senha1234" required><br>
        <button type="submit">Cadastrar-se</button>
    </form>
    {% endblock %}
</body>
</html>