<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de aluno</title>
</head>
<body>
    <h2>Formulário de cadastro</h2>
    <form action="/cadastrar" method="post">
        <label>
            Informe o nome:
            <input type="text" name="nome" />
        </label>
        <br />
        <label>
            Informe o sobrenome:
            <input type="text" name="sobrenome" />
        </label>
        <br />
        <label>
            Informe o idade:
            <input type="number" name="idade" />
        </label>
        <br />
        <input type="submit" value="Enviar" />

    </form>
    
</body>
</html>