<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de contatos</title>
</head>
<body>
    <h1>Contatos cadastrados</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Data de nascimento</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Sexo</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Usuário</th>
            <th>Senha</th>
            <th>Observação</th>
        </tr>
        {% for dado in dados %}
        <tr>
            <td>{{ dado["id"] }}</td>
            <td>{{ dado["nome"] }}</td>
            <td>{{ dado["sobrenome"] }}</td>
            <td>{{ dado["datanasc"] }}</td>
            <td>{{ dado["endereco"] }}</td>
            <td>{{ dado["bairro"] }}</td>
            <td>{{ dado["cidade"] }}</td>
            <td>{{ dado["estado"] }}</td>
            <td>{{ dado["sexo"] }}</td>
            <td>{{ dado["telefone"] }}</td>
            <td>{{ dado["email"] }}</td>
            <td>{{ dado["usuario"] }}</td> 
            <td>{{ dado["senha"] }}</td>  
            <td>{{ dado["observacao"] }}</td>       
           
        </tr>
        {% endfor %}
    </table>
    <br />
    <a href="/">Voltar</a>
    
</body>
</html>