<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Programa Senac de gratuidade</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout2.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css')}}" />
</head>

<body>
  <header>
    <section id="cabecalho"><!--Inicio section cabecalho-->
      <div id="cabecalhoEsq"><!--Inicio div cabecalhoEsq-->
        <p class="p1">
          <a href="{{ url_for('index')}}">
            <img src="{{ url_for('static', filename='img/senac_logo_new.png')}}" alt="Logotipo Senac"
              title="Logotipo Senac" />
          </a>
        </p>
      </div><!--Fim div cabecalhoEsq-->
      <div id="cabecalhoMeio"><!--Inicio div cabecalhoMeio-->
        <p id="pCabecalhoMeio">
          Rio Grande do Sul
        </p>
      </div><!--Fim div cabecalhoMeio-->
      <div id="cabecalhoDir"><!--Inicio div cabecalhoDir-->
        <p id="plink">
          <a class="linkRedes" href="https://www.facebook.com/senacrsoficial" target="_blank">
            <img class="imgRedes" src="{{ url_for('static', filename='img/icon_facebook.png')}}" alt="Logotipo Facebook"
              title="Logotipo Facebook" />
          </a>
          <a class="linkRedes" href="https://x.com/senacrs" target="_blank">
            <img class="imgRedes" src="{{ url_for('static', filename='img/icon_twitter.png')}}" alt="Logotipo X-Twitter"
              title="Logotipo X-Twitter" />
          </a>
          <a class="linkRedes" href="https://www.linkedin.com/school/senac-rs/posts/?feedView=all" target="_blank">
            <img class="imgRedes" src="{{ url_for('static', filename='img/icon_linkedin.png')}}" alt="Logotipo Linkedin"
              title="Logotipo Linkedin" />
          </a>
          <a class="linkRedes" href="https://www.youtube.com/senacrsoficial" target="_blank">
            <img class="imgRedes" src="{{ url_for('static', filename='img/icon_youtube.png')}}" alt="Logotipo Youtube"
              title="Logotipo Youtube" />
          </a>
          <a class="linkRedes" href="https://www.instagram.com/senacrs/" target="_blank">
            <img class="imgRedes" src="{{ url_for('static', filename='img/icon_instagram.png')}}"
              alt="Logotipo Instagram" title="Logotipo Instagram" />
          </a>
        </p>
      </div><!--Inicio div cabecalhoDir-->
    </section><!--Fim section cabecalho-->
  </header>
  <hr class="hr1" />
  <nav id="menu"><!--Inicio nav menu-->
    <ul>
      <li>
        <a href="{{ url_for('index')}}">Inicio</a>
      </li>
      <li>
        <a href="{{ url_for('oprograma')}}">O programa</a>
      </li>
      <li>
        <a href="{{ url_for('inscrever')}}">Inscrição</a>
      </li>
      <li>
        <a href="{{ url_for('consulta')}}">Consulta</a>
        <ul>
          <li>
            <a href="{{ url_for('consulta')}}#tecnico">Curso Técnico</a>
          </li>
          <li>
            <a href="{{ url_for('consulta')}}#trilha">Curso RS-TI</a>
          </li>
          <li>
            <a href="{{ url_for('consulta')}}#livre">Curso LivreI</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="{{ url_for('perguntas')}}">FAQ</a>
      </li>
      <li>
        <a href="{{ url_for('fale_conosco')}}">Fale conosco</a>
      </li>
    </ul>
  </nav><!--Fim nav menu-->
  <!-- Comentário no html-->
  <hr id="hr2" />
  <section id="sectionMeio"><!--Inicio sectionMeio-->
    <article id="articleBannerSup"><!--Inicio articleBannerSup-->
      <img id="imgBanner" src="{{ url_for('static', filename='img/banner_programa.jpg')}}" alt="Imagem representando o banner do programa 
        Senac gratuidade" title="Banner programa Senac Gratuidade" />
    </article><!--Fim articleBannerSup-->
  </section>
  <h1 class="h2">Perguntas frequentes</h1>
  <p class="p1">
    <img id="imgBannerPerguntas" src="{{ url_for('static', filename='img/faq.png')}}" alt="Imagem representando dúvidas" title="Banner sobre dúvidas" />
  </p>
  <!--Código novo-->
  <section class="sectionBloco">

    <!-- Cada conjunto usa <details> para abrir/fechar -->

    <details class="detalhesBloco">
      <summary>
        <h2 class="hLeft">O que é o PSG?</h2>
      </summary>
      <p class="pJustify">
        É sigla do Programa Senac de Gratuidade, uma ação da instituição para promover a inclusão social. O PSG foi
        operacionalizado, a partir de 2009, em acordo com o Governo Federal, para garantir a oferta de vagas gratuitas
        em cursos de educação profissional com custo zero à população brasileira de baixa renda.
      </p>
    </details>

    <details class="detalhesBloco">
      <summary>
        <h2 class="hLeft">Como funciona o programa?</h2>
      </summary>
      <p class="pJustify">
        Presente em todo o Brasil, o Senac de cada estado divulga as vagas gratuitas para cursos presenciais e a
        distância. Os interessados fazem suas inscrições e são selecionados segundo a ordem cronológica das inscrições.
      </p>
    </details>

    <details class="detalhesBloco">
      <summary>
        <h2 class="hLeft">Quem pode participar do programa?</h2>
      </summary>
      <p class="pJustify">
        O PSG foi criado para atender à população de baixa renda, isto é, pessoas com renda familiar mensal por pessoa
        inferior a dois salários mínimos. Os candidatos devem ser alunos da educação básica e trabalhadores empregados
        ou desempregados.
      </p>
    </details>

    <details class="detalhesBloco">
      <summary>
        <h2 class="hLeft">Como eu calculo a minha renda familiar per capita?</h2>
      </summary>
      <p class="pJustify">
        Some todos os salários da família e divida pelo número de pessoas que moram na mesma casa. Se a média for até
        dois salários mínimos federais, você poderá concorrer a uma vaga no PSG.
      </p>
    </details>

    <details class="detalhesBloco">
      <summary>
        <h2 class="hLeft">Como me inscrevo no programa?</h2>
      </summary>
      <p class="pJustify">
        Entre em contato com o Senac da sua região, verifique a programação em oferta, escolha o curso, o turno e o
        endereço mais convenientes para você.
      </p>
    </details>

    <details class="detalhesBloco">
      <summary>
        <h2 class="hLeft">Existe algum tipo de seleção?</h2>
      </summary>
      <p class="pJustify">
        Sim. O candidato deve apresentar toda a documentação exigida para a matrícula. A ausência de qualquer documento
        impede a participação.
      </p>
      <ul class="ulPerguntas">
        <li class="liPerguntas">Possuir renda familiar per capita de até 2 salários mínimos</li>
        <li class="liPerguntas">Possuir CPF</li>
        <li class="liPerguntas">Comprovar atendimento aos requisitos do curso</li>
        <li class="liPerguntas">Ser aluno e/ou trabalhador (empregado ou desempregado)</li>
      </ul>
    </details>

    <details class="detalhesBloco">
      <summary>
        <h2 class="hLeft">O que preciso para efetivar a minha matrícula?</h2>
      </summary>
      <p class="pJustify">
        Para efetivar a matrícula, o candidato deve atender aos requisitos do PSG e do curso escolhido.
      </p>
      <ol class="olPerguntas">
        <li class="liPerguntas">Apresentar CPF e demais documentos exigidos.</li>
        <li class="liPerguntas">Para cursos de Aperfeiçoamento, apresentar:
          <ol id="olPerguntasSub">
            <li class="liPerguntas">Certificado de Qualificação Profissional, ou</li>
            <li class="liPerguntas">Registro em Carteira de Trabalho, ou</li>
            <li class="liPerguntas">Declaração da empresa empregadora, ou</li>
            <li class="liPerguntas">Autodeclaração de experiência profissional.</li>
          </ol>
        </li>
        <li class="liPerguntas">Assinar Autodeclaração de renda e Termo de Compromisso.</li>
      </ol>
    </details>

    <details class="detalhesBloco">
      <summary>
        <h2 class="hLeft">Os documentos apresentados serão devolvidos pelo Senac?</h2>
      </summary>
      <p class="pJustify">
        Após análise, os originais, exceto os de escolaridade, serão devolvidos aos candidatos.
      </p>
    </details>

    <details class="detalhesBloco">
      <summary>
        <h2 class="hLeft">O que acontece se o candidato se matricular e não frequentar o curso?</h2>
      </summary>
      <p class="pJustify">
        O candidato assina um termo de compromisso. Se abandonar o curso sem justificativa, poderá ter matrícula
        cancelada e ser impedido de nova inscrição no mesmo exercício.
      </p>
    </details>

    <details class="detalhesBloco">
      <summary>
        <h2 class="hLeft">Existe diferença entre os cursos gratuitos e pagos?</h2>
      </summary>
      <p class="pJustify">
        Não. Ambos possuem o mesmo conteúdo, carga horária e material didático.
      </p>
    </details>

    <details class="detalhesBloco">
      <summary>
        <h2 class="hLeft">Posso fazer mais de um curso pelo PSG?</h2>
      </summary>
      <p class="pJustify">
        Sim, desde que em turnos diferentes.
      </p>
    </details>

  </section>
  <footer>
    <hr id="hr4" />
    <article id="articleFooter"><!--Inicio articleFooter-->
        <p class="p1">
            <img src="{{ url_for('static', filename='img/logo_branco.png')}}" alt="Imagem do logotipo 
            do Senac" title="Logotipo Senac" />
        </p>
        <p class="p1">
            <a class="linkRedes" href="https://www.facebook.com/senacrsoficial" target="_blank">
                <img class="imgRedes" src="{{ url_for('static', filename='img/icon_facebook.png')}}" alt="Logotipo Facebook"
                    title="Logotipo Facebook" />
            </a>
            <a class="linkRedes" href="https://x.com/senacrs" target="_blank">
                <img class="imgRedes" src="{{ url_for('static', filename='img/icon_twitter.png')}}" alt="Logotipo X-Twitter"
                    title="Logotipo X-Twitter" />
            </a>
            <a class="linkRedes" href="https://www.linkedin.com/school/senac-rs/posts/?feedView=all"
                target="_blank">
                <img class="imgRedes" src="{{ url_for('static', filename='img/icon_linkedin.png')}}" alt="Logotipo Linkedin"
                    title="Logotipo Linkedin" />
            </a>
            <a class="linkRedes" href="https://www.youtube.com/senacrsoficial" target="_blank">
                <img class="imgRedes" src="{{ url_for('static', filename='img/icon_youtube.png')}}" alt="Logotipo Youtube"
                    title="Logotipo Youtube" />
            </a>
            <a class="linkRedes" href="https://www.instagram.com/senacrs/" target="_blank">
                <img class="imgRedes" src="{{ url_for('static', filename='img/icon_instagram.png')}}" alt="Logotipo Instagram"
                    title="Logotipo Instagram" />
            </a>
        </p>
        <p id="pDireitos">
            © Todos os direitos reservados - 2026
        </p>
    </article><!--Fim articleFooter-->
</footer>
</body>

</html>