<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/css/global.css">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <h2>Login</h2>

    <form method="POST">
    <input name="email" placeholder="Email">
    <input name="senha" type="password">
    <button>Entrar</button>
    </form>

    <a href="/register">Cadastrar</a>

    {% endblock %}
</body>
</html>