<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrando os dados</title>
</head>
<body>
    <h2>Dados do aluno</h2>
    <p>Nome do aluno: {{ nome }}</p>
    <p>Idade do aluno: {{ idade }}</p>
    <p>CPF do aluno: {{ cpf }}</p>
    <p>E-mail do aluno: {{ email }}</p>
    <p>Telefone do aluno: {{ telefone }}</p>
    <p>Endereço do aluno: {{ endereco }}</p>
    <p>Cidade do aluno: {{ cidade }}</p>
    <p>Estado do aluno: {{ estado }}</p>
    <a href="/">Voltar</a>
    
</body>
</html>